.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-box {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.mainPage {
  display: flex;
}

.friendListBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 20px;
}

.userBox {
  position: absolute;
  right: 20px;
  width:170px;
  height: 90px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 20px;
}

.post {
  position: absolute;
  right:20%;
}

.postContainer {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.postListBox {
  display: block;
}

.postBox {
  width: 280px;
  border: 2px solid rgb(169, 172, 255);
  margin-top: 20px;
  border-radius: 15px;
  background-color: rgba(43, 49, 204, 0.086) ;
}

.titlePost {
  font-size: 15px;
  font-weight: 700;
  height: 70px;
  margin:10px;
}

.bodyPost {
  height: 220px;
  padding:10px;
}

.authorBox {
  position: absolute;
  height: 30px;
  display: flex;
}

.buttonBox {
  margin-top:50px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin:5px;
}

.button:hover {
  background-color: rgb(186, 169, 169);
  transition: all 0.3s;
}

.headerTitle {
  margin:40px;
  font-size: 50px;
  font-weight: 700;
}

.uknownUser {
  font-weight: 500;
  color: red;
}